
<%- include('header') -%>

</head>
<body>
<%- include('navbar')%>
<main>

Les tapis de découpe Cricut sont des feuilles adhésives utilisées dans les machines du même fabricant. Ils sont conçus pour durer pendant 25 à 40 utilisations, mais leur nettoyage peut prolonger leur durée de vie. Pour nettoyer le tapis et renouveler son adhésif, vous pouvez fréquemment effectuer un léger nettoyage et un nettoyage plus en profondeur lorsqu’il devient très sale. Si, après le nettoyage, le tapis n’a plus d’adhésif, il existe des moyens d’en ajouter une nouvelle couche [1].

Méthode
1
Nettoyer un tapis Cricut classique
Image intitulée Clean a Cricut Mat Step 1
1
Nettoyez légèrement le tapis. Faites cela lorsqu’il perd une partie de son adhésif. Pour garder le tapis collant le plus longtemps possible, il est conseillé de le nettoyer régulièrement. Commencez par le gratter avec une spatule en plastique de marque Cricut ou tout autre type de grattoir en plastique dur. Essuyez ensuite la surface avec une lingette sans alcool pour bébé ou passez-y un rouleau antipeluche.
Un rouleau de charpie est généralement plus collant que le tapis, il éliminera donc les débris coincés dans le tapis.
Les lingettes pour bébé sont en mesure d’humidifier délicatement la surface et d’éliminer les débris sans endommager le tapis.
Image intitulée Clean a Cricut Mat Step 2
2
Frottez la surface avec du savon et de l’eau. Si vous avez utilisé le tapis à plusieurs reprises et qu’il manque vraiment d’adhésif, il peut être nécessaire de nettoyer la surface en douceur. Appliquez une petite quantité de liquide vaisselle et d’eau tiède sur la surface et frottez-la légèrement avec une brosse à poils doux. Ensuite, rincez la surface avec de l’eau tiède [2].
Si vous désirez faire usage d’une éponge sur la surface, essayez une éponge magique. Ce type d’éponge sera suffisamment doux sur la surface et utile pour éliminer les déchets.
Image intitulée Clean a Cricut Mat Step 3
3
Pulvérisez un dégraissant sur le tapis. S’il est très sale et ne contient plus d’adhésif, vous devez utiliser un nettoyant plus puissant. Les dégraissants agiront sur tout ce qu’il y a sur la surface et les élimineront. Néanmoins, ils peuvent laisser un résidu. Dans ce cas, le tapis doit donc être nettoyé à l’eau et au savon après l’utilisation du dégraissant.
L’utilisation d’un dégraissant puissant peut réduire l’adhésif qu’il y a sur le tapis. Vous avez toutefois la possibilité de remplacer l’adhésif une fois que le tapis est sec et propre.
Image intitulée Clean a Cricut Mat Step 4
4
Laissez-le sécher à l’air. Une fois qu’il est propre, placez-le sur une grille de séchage ou suspendez-le de manière à ce que ses deux côtés puissent complètement sécher. Quel que soit le type de nettoyage que vous effectuez, vous devez laisser le tapis sécher avant de l’utiliser à nouveau dans la machine.
Toute humidité restante réduira l’adhésif et pourrait endommager la machine.
Ne vous servez pas d’une serviette pour sécher le tapis. Passer une serviette sur la surface adhésive la recouvrira de fibres, réduisant ainsi son efficacité.
Méthode
2
Nettoyer les tapis Cricut pour pâtisserie
Image intitulée Clean a Cricut Mat Step 5
1
Enlevez tout fondant, glaçage ou pâte à sucre. Certaines machines Cricut sont spécialement conçues pour couper des pièces décoratives à partir des pâtes à sucre, des feuilles de glaçage et des fondants. Une fois que celles-ci ont été découpées et retirées du tapis, vous devez éliminer tout excès d’ingrédients de la surface avec vos doigts [3].
Dans certains cas, l’excédent peut être reconstitué et réutilisé.
Image intitulée Clean a Cricut Mat Step 6
2
Grattez l’excès de graisse alimentaire à l’aide d’un grattoir en plastique. Les feuilles décoratives pour aliments coupées avec des machines Cricut spéciales sont fixées sur le tapis avec une épaisse couche de matière grasse et non avec un tapis adhésif. Après la découpe, grattez la surface pour éliminer autant de graisse que possible [4].
Cricut vend des spatules en plastique qui peuvent être utilisées sur ses tapis. Toutefois, tout petit grattoir en plastique, comme celui vendu pour nettoyer la vaisselle, fera l’affaire.
Image intitulée Clean a Cricut Mat Step 7
3
Utilisez de l’eau savonneuse tiède pour nettoyer le tapis. Après l’avoir couvert avec la solution d’eau tiède et de liquide vaisselle, frottez-le pour éliminer l’excès de graisse. Vous devez peut-être frotter légèrement la surface du tapis avec une éponge à vaisselle ou une brosse normale pour enlever tout excès de matière grasse [5].
Vous ne devez utiliser que des nettoyants non toxiques sur le tapis et ceux pouvant être utilisés en toute sécurité avec du matériel de cuisine. Par conséquent, l’utilisation du liquide vaisselle et de l’eau tiède convient parfaitement à ces tapis.
Image intitulée Clean a Cricut Mat Step 8
4
Laissez le tapis sécher à l’air. Tout comme les autres tapis Cricut, ceux à pâtisserie doivent être exposés à l’extérieur pour être séchés après le lavage. Une fois qu’ils sont complètement secs, ils peuvent être réutilisés dans la machine.
Ne vous servez pas d’une serviette pour sécher le tapis. Cela peut y laisser des fibres qui seront transférées sur le fondant, le glaçage ou la pâte à sucre.
Méthode
3
Rendre à nouveau un tapis Cricut collant
Image intitulée Clean a Cricut Mat Step 9
1
Retirez la couche adhésive d’origine avec de l’alcool ou du solvant. Pour que le nouvel adhésif adhère au tapis, il est judicieux d’enlever la couche qui a perdu sa colle. Pour ce faire, vous pouvez recouvrir la surface avec de l’alcool isopropylique ou un détachant d’adhésif, tel que Goo Gone [6].
Vous devez peut-être faire usage d’une spatule, telle que celle incluse dans la boite à outils de Cricut, pour enlever l’ancienne couche.
Image intitulée Clean a Cricut Mat Step 10
2
Appliquez du ruban adhésif sur les bords du tapis. Les bordures d’un tapis de découpe Cricut doivent être exemptes d’adhésif, car c’est la partie du produit qui traverse les rouleaux de la machine. Pour vous assurer de ne pas mettre d’adhésif dans ces zones, vous devez y coller du ruban de masquage.
La zone à couvrir avec du ruban adhésif est clairement indiquée sur la partie en couleur du tapis. Les zones colorées se trouvent sur les quatre bords extérieurs du motif en grille.
Image intitulée Clean a Cricut Mat Step 11
3
Couvrez la surface avec un adhésif repositionnable. Il existe une variété de produits adhésifs que les gens utilisent pour renouveler leurs tapis. Ceux-ci sont disponibles dans les magasins d’artisanat et auprès des revendeurs en ligne. Certains peuvent être pulvérisés sur la surface et d’autres doivent être brossés, mais ils doivent tous être appliqués en deux ou trois couches. Certains adhésifs efficaces sont [7] :
une colle repositionnable pour collimage  ;
les bâtons de colle repositionnables  ;
une colle en vaporisateur à collage temporaire  ;
de la colle diluée en parts égales avec de l’eau  ;
un adhésif repositionnable en aérosol.
Image intitulée Clean a Cricut Mat Step 12
4
Laissez l’adhésif sécher complètement. Cela garantira qu’il est correctement fixé au tapis et qu’il ne collera pas trop au papier que vous coupez. Une fois que le tapis est sec, retirez le ruban et utilisez-le [8].
Éléments nécessaires
Pour nettoyer un tapis Cricut classique
Une spatule en plastique
Une lingette sans alcool pour bébé
Un rouleau de charpie
Du liquide vaisselle
Une éponge magique
Un dégraissant
Pour nettoyer les tapis Cricut pour pâtisserie
Un grattoir en plastique
Du liquide vaisselle
Une éponge
Une brosse à vaisselle
Pour rendre à nouveau un tapis Cricut collant
De l’alcool isopropylique
Un détachant ou solvant pour adhésif
Une spatule en plastique
Un ruban de masquage
Un adhésif repositionnable
Avertissements
N’oubliez pas que l’ajout d’adhésif aux tapis Cricut peut annuler la garantie fournie avec la machine. Dans la plupart des cas, elle a une garantie d’un an à compter de la date d’achat [9].
Références
↑ http://content.cricut.com/b/pdfs/2000752%20Cricut%20User%20Manual_iw%201.pdf
↑ https://personaldiecutting.com/how-to-clean-and-restick-your-cutting-mats/
↑ http://help.cricut.com/sites/default/files/manuals/Cricut%20Cake%20Manual_1.pdf
↑ http://help.cricut.com/sites/default/files/manuals/Cricut%20Cake%20Manual_1.pdf
↑ http://help.cricut.com/sites/default/files/manuals/Cricut%20Cake%20Manual_1.pdf
↑ https://www.youtube.com/watch?v=cRQb7UWOaKU
↑ https://personaldiecutting.com/how-to-clean-and-restick-your-cutting-mats/
↑ https://personaldiecutting.com/how-to-clean-and-restick-your-cutting-mats/
↑ http://content.cricut.com/c/downloads/CricutMachineWarranty.pdf
wikiHows en relation
Comment

enlever de la Super Glue
Comment

faire un répulsif pour chat maison
Comment

nettoyer un écran plat de télévision
Comment

effacer du marqueur indélébile
Comment

laver un vêtement qui se nettoie à sec uniquement
Comment

enlever la rouille du chrome
Comment

effacer de l'encre sur du papier
Comment

enlever du sang sur des draps
Comment

enlever un autocollant sur du plastique
Comment

déboucher un siphon de douche
Comment

nettoyer des baskets qui sentent mauvais
Comment

enlever des taches de sang sur un jean
Comment

nettoyer une tache d'huile de moteur sur votre allée
Comment

déboucher des toilettes
Détails de l'article
Cet article a été rédigé avec la collaboration de nos éditeurs et chercheurs qualifiés pour garantir l'exactitude et l'exhaustivité du contenu.

Catégories: Nettoyage

Autres langues :

English: Clean a Cricut Mat, Español: limpiar un tapete Cricut

ImprimerModifierRemercier les auteurs
Cette page a été consultée 391 fois.
Cet article vous a-t-il été utile ?
Oui  Non
 
Au hasardÉcrire un article
Articles en relation
enlever de la Super Glue
Comment

enlever de la Super Glue
faire un répulsif pour chat maison
Comment

faire un répulsif pour chat maison
nettoyer un écran plat de télévision
Comment

nettoyer un écran plat de télévision
effacer du marqueur indélébile
Comment

effacer du marqueur indélébile
Cet article vous a-t-il été utile ?
 Oui  Non



</main>



<%- include('footer') -%>