<div class="nav--fixed">
    <nav>
    <div class="menu--button">
                <i class="fa fa-bars"></i>
            </div>
        <div class="menu--mobile">
            <div class="menu--list--mobile">
                <a href="/" class="menu--item logo"><img src="favicon.ico" /></a>
                <a href="/" class="menu--item">Home</a>
                <a href="/home" class="menu--item">Plans</a>
                <a href="/home" class="menu--item">About Us</a>
                <a href="/create" class="menu--item">My Account</a>
            </div>
        </div>
        <div class="menu_list">
            <a href="/" class="menu--item logo"><img  src="favicon.ico" /></a>
            <a href="/" class="menu--item">Home</a>
            <a href="/home" class="menu--item">Plans</a>
            <a href="/home" class="menu--item">About Us</a>
            <a href="/create" class="menu--item">My Account</a>
        </div>
    </nav>
</div>