@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.userForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 0.1rem solid goldenrod;
    font-family: 'Oswald', sans-serif;
}
.userForm hr {
    width: 30rem;
    margin: 0
}
.userForm p {
    font-family: none;
    margin: 0;
    color: gray
}
.userControl{
    padding-left: 8rem;
    margin: 2rem;
    /*text-align: justify;*/

}
.userControl .inputText{
    border-radius: 30%;
    width: 15rem;
    height: 2rem;
    border: 0.1rem  solid black;
}
.userControl .inputText:focus{
    outline: none;
}
.userControl label {
    font-family: 'Oswald', sans-serif;
}
.userControl button {
     border-radius: 30%;
     width: 15rem;
     height: 2rem;
     border: 0.1rem solid black;
     font-family: 'Oswald', sans-serif;
}

.userControl button:hover,
.userControl button:active {
    background-color: goldenrod;
    border: 0.1rem solid grey;
    cursor: pointer;
}

.userControl button:focus {
    outline: none;
}
.msg-error {
    color: red;
    font-size: 0.9rem;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
.border-error {
    border: 0.1rem solid red;
}
.forgot--and--create li  {
    list-style: none;
    text-align: center;
}
.forgot--and--create  li a{
    text-decoration: none;
    color: #0091FF;
}
.forgot--and--create li a:hover,
.forgot--and--create li a:active {
    color: gray;
}
.myprofile--user {
    margin-top: 10rem;
    padding: 5rem;
    border: 0.1rem solid goldenrod;
    font-family: 'Oswald', sans-serif;
    display: grid;
    grid-template-columns: 8rem 10rem;
    grid-gap: 2rem;
    justify-content: center;
    align-content: center;
}
.myprofile--user-value{
    color:#0091FF;
}
.hide--class {
    display: none;
}
.display-image_url_doc{
    height: 10rem;
    width: 10.5rem;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.pagination {
    text-align: center;
    margin-top: 2rem;
}

.pagination a {
    text-decoration: none;
    color: #60A3BC;
    border: 1px solid #60A3BC;
    margin: 0 1rem;
    padding: 0.5rem;
}

.pagination a:hover,
.pagination a:active,
.pagination a.active {
    background: #60A3BC;
    color: white;
}
.input--note {
    width: 4rem;
}
@media(max-width: 40rem) {
.userControl .inputText {
    border-radius: 30%;
    width: 10rem;
}
.userControl button {
    border-radius: 30%;
    width: 10rem;
}
.userForm {
    display: flex;
    flex-direction: column;
    border: 0.1rem solid goldenrod;
    font-family: 'Oswald',
    sans-serif;
}
.userForm hr {
    width: 10rem;
    margin: 0
}
.userControl {
    padding-left: 2rem;
    margin: 2rem;
    /*text-align: justify;*/

}
.myprofile--user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

}